* {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
}
/* * * * * header_nav * * * * */
#header_nav .gnb{
    background-color : #2d1152;
}
.gnb ul{
    height: 25px;
    overflow : hidden;
}
.gnb ul li{
    list-style : none;
    height:25px;
    float: left;
    text-align : center;
    margin : 0 10px;
}
.gnb ul li a{
    color:white;
    text-decoration : none;
}